
body {
  background-color: #EDDDD0;
}
header{
  background-color: #A6CAD4;
}
header h1{
  font-family: Montserrat,sans-serif;
  text-align: center;
  color:#334259;
}
footer{
  background-color: #A6CAD4;
  text-align: center;
}
h1 {
  color: #122E3A;
  font-size: 45px;
}
section {
  text-align: left;
  color: black;
}
nav{
  text-align: center;
}
  article {
  text-align: left;
}
