
body {
  background-color: #EDDDD0;
}
header{
  background-color: #A6CAD4;
}
header h1{
  font-family: Montserrat,sans-serif;
  text-align: center;
  color:#334259;
}
footer{
  background-color: #A6CAD4;
  text-align: center;
}
h1 {

  font-size: 45px;
}
section {
  text-align: left;
  color: black;
}
nav ul{
  text-align: center;
  display: flex;
  flex-direction: row;
}
nav ul{
  list-style-type: none;
  justify-content: center;
}
nav ul li{
  padding: 10px;
}
  article {
  text-align: left;
}
