
body {
  background-color: #87ceeb;
}
h1 {
  color: #122E3A;
  font-size: 45px;
}
#aboutme{
  font-family: Montserrat,sans-serif;
}
aside {
  text-align: right;
}
section {
  text-align: left;
  color: black;
}
nav{
  background-color: lightblue;
  text-align: center;
}
  article {
  text-align: left;
}
